*.bbl
*.end
*.6
*.bak
*.sav
in.*
socket.cfg
utilSocket.cfg
*.log
*.aux
*.blg
*.out
*.gz
*.dbg
*.idd
*.audit
*.bnd
*.csv
*.eio
*.err
*.eso
*.mtd
*.mtr
*.rvaudit
*.shd
*.svg
*.pickle
*.pyc
Output
*.*~
*.m~
eplusout.*
